
DATABASE_URL="postgresql://postgres:tgumdr9gHXw4NEY6SnHf@dbradizgold-iyc-service:5432/dbradizgvla_db"

JWT_SECRET="kimiagar-jwt-secret-2024-production-key"
JWT_REFRESH_SECRET="kimiagar-refresh-secret-2024-production-key"

NODE_ENV="production"


PORT=3001


HOST="0.0.0.0"


EXTERNAL_PRICE_API_URL="https://yazdan-price.liara.run"

# SMS_API_KEY="your-sms-api-key"
# SMS_API_SECRET="your-sms-api-secret"
# SMS_SENDER="کیمیاگر"
# SMS_ENDPOINT="your-sms-endpoint"

# KAVENEGAR_API_KEY="your-kavenegar-api-key"
# KAVENEGAR_TEMPLATE_ID="your-template-id"

# SENDGRID_API_KEY="your-sendgrid-api-key"